packaging==23.1
wheel==0.42.0
transformers
librosa
tqdm
tiktoken==0.5.1
audiocraft
numpy
ninja
fastapi
uvicorn
tyro
deepfilternet
pydub
soundfile
gradio
huggingface_hub
wandb
pytorch_lightning
IPython
