packaging==23.1
wheel==0.42.0
transformers~=4.39.3
librosa~=0.10.1
tqdm~=4.66.2
tiktoken==0.5.1
audiocraft~=1.2.0
numpy~=1.26.4
ninja~=1.11.1.1
fastapi~=0.110.1
uvicorn~=0.29.0
tyro~=0.7.3
DeepFilterNet~=0.5.6
pydub~=0.25.1
soundfile~=0.12.1
gradio~=4.25.0
huggingface-hub~=0.22.2
wandb~=0.16.5
pytorch-lightning~=2.2.1
ipython~=8.23.0
flash-attn==2.5.3